Content/Zebra/Assets/Zebra/Materials/T_Zebra_N.uasset filter=lfs diff=lfs merge=lfs -text
Content/Zebra/Assets/Zebra/Meshes/SKM_Zebra_Hi.uasset filter=lfs diff=lfs merge=lfs -text
Content/Zebra/Assets/Zebra/Materials/Textures/T_Zebra_N.uasset filter=lfs diff=lfs merge=lfs -text
